html {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

header {
  background-color: initial;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
}
header h1, header h2, header h3 {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}

body {
  padding-top: 195px;
}

.fyi {
  padding-bottom: 5px;
  padding-left: 15px;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-right: 10px;
}
.fyi h2 {
  margin-bottom: 5px;
}
.fyi p {
  margin-top: 0;
}
.fyi a {
  color: black !important;
}

.Info {
  display: flex;
  gap: 20px;
}
.Info .text {
  display: flex;
  flex-direction: column;
}
.Info .text h2 {
  margin-bottom: 3px;
  margin-top: 2px;
}
.Info .text .includes {
  margin-top: 3px;
  font-weight: 600;
  margin-bottom: 0px;
}
.Info .text p {
  margin-top: 3px !important;
}

/*Table stuff*/
table {
  width: 680px;
  border-collapse: collapse;
  margin-bottom: 20px;
}
td {
  border: 1px solid black;
  padding: 8px;
}
.songs h3 {
  margin: 0px 0px 10px;
}
.songs .number {
  text-align: center !important;
  width: 20px;
}
.songs td:nth-child(3) {
  width: 30px;
}
.songs td {
  background-color: var(--color);
}
.debut {
  --color: rgba(38, 142, 64, 0.75);
}
.fearless {
  --color: rgba(221, 196, 119, 0.75);
}
.speaknow {
  --color: rgba(82, 49, 107, 0.75);
}
.red {
  --color: rgba(146, 12, 12, 0.75);
}
._1989{
  --color: rgba(189, 231, 249,0.5);
}
.rep {
  --color: rgba(0, 0, 0,0.5);
}
.lover {
  --color: rgba(253,192,204,0.6);
}
.folklore {
  --color: rgba(204, 204, 204,0.5);
}
.evermore {
  --color: rgba(128, 66, 36,0.75);
}
.midnights {
  --color: rgba(39, 45, 80,0.75);
}
.ttpd {
  --color: rgba(250, 250, 250,0.75);
}

:root {
  --debut: rgb(38, 142, 64);
  --fearless: rgb(221, 196, 119);
  --speaknow: rgb(82, 49, 107);
  --red: rgb(146, 12, 12);
  --_1989: rgb(189, 231, 249);
  --rep: black;
  --lover: rgb(253, 192, 204);
  --folklore: rgb(204, 204, 204);
  --evermore: rgb(128, 66, 36);
  --midnights: rgb(39, 45, 80);
  --ttpd: white;
  --width: 80%;
}

/* #Cells = color of era */
.debut .songs .number{
  background-color: var(--debut);
}
.fearless .songs .number{
  background-color: var(--fearless);
}
.speaknow .songs .number{
  background-color: var(--speaknow);
}
.red .songs .number{
  background-color: var(--red);
}
._1989 .songs .number{
  background-color: var(--_1989);
}
.rep .songs .number{
  background-color: black;
  color: white;
}
.lover .songs .number{
  background-color: var(--lover);
}
.folklore .songs .number{
  background-color: var(--folklore);
}
.evermore .songs .number{
  background-color: var(--evermore);
}
.midnights .songs .number{
  background-color: var(--midnights);
  color: var(--folklore);
}
.ttpd .songs .number{
  background-color: white;
}

/* Title = color of era*/
h2 a.wikipediaLink {
  text-decoration: none;
}
.debutLink a.wikipediaLink {
  color: var(--debut);
}
.fearlessLink a.wikipediaLink {
  color: var(--fearless);
}
.speakNowLink a.wikipediaLink {
  color: var(--speaknow);
}
.redLink a.wikipediaLink {
  color: var(--red);
}
._1989Link a.wikipediaLink {
  color: var(--_1989);
}
.reputationLink a.wikipediaLink {
  color: black;
}
.loverLink a.wikipediaLink {
  color: var(--lover);
}
.folkloreLink a.wikipediaLink {
  color: var(--folklore);
}
.evermoreLink a.wikipediaLink {
  color: var(--evermore);
}
.midnightsLink a.wikipediaLink {
  color: var(--midnights);
}
.ttpdLink a.wikipediaLink {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 5px;
  padding-right: 5px;
}

/* The hovering thing*/
.FearlessTVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/8/86/Taylor_Swift_-_Fearless.png');
}
.FearlessTVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/5/5b/Fearless_%28Taylor%27s_Version%29_%282021_album_cover%29_by_Taylor_Swift.png');
}

.SpeakNowTVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/8/8f/Taylor_Swift_-_Speak_Now_cover.png');
}
.SpeakNowTVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/5/5b/Taylor_Swift_-_Speak_Now_%28Taylor%27s_Version%29.png');
}

.RedTVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/e/e8/Taylor_Swift_-_Red.png');
}
.RedTVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/4/47/Taylor_Swift_-_Red_%28Taylor%27s_Version%29.png');
}

._1989TVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/f/f6/Taylor_Swift_-_1989.png');
}
._1989TVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/d/d5/Taylor_Swift_-_1989_%28Taylor%27s_Version%29.png');
}

.TTPDimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/6/6e/Taylor_Swift_%E2%80%93_The_Tortured_Poets_Department_%28album_cover%29.png');
}
.TTPDimg:hover {
  background-image: url('https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa');
}

.FearlessTVimg, .SpeakNowTVimg, .RedTVimg, ._1989TVimg, .TTPDimg{
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.album-cover {
  flex-shrink: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}

/* The browser stops shrinking at 300px */
body, .main-container, header {
  min-width: 300px;
}
@media (max-width: 300px) {
  body, .main-container, header {
    width: 300px;
    overflow-x: auto; /* Adds a horizontal scrollbar if needed */}
}

/* Changes styles when the browser width changes */
@media (max-width: 690px) {
  h1 {
    font-size: 36px;}
  h2 {
    font-size: 28px;}
  h3 {
    font-size: 16px;}
  p, li, td {
    font-size: 12px;}
  .Info {
    gap: 10px;}
  .album-cover {
    height: 200px;
    width: 200px;}
  table {
    width: 100%;}
}
@media (max-width: 550px) {
  h1 {
    font-size: 32px;}
  h2 {
    font-size: 22px;}
  header {
    height: 160px;}
  .Info {
    gap: 5px;}
}
@media (max-width: 468px) {
  h1 {
    font-size: 24px;}
  h2 {
    font-size: 16px;}
  h3 {
    font-size: 13px;}
  header {
    height: 130px;}
  body {
    padding-top: 165px;}
  .Info {
    flex-direction: column;
    align-items: center;}
  .album-cover {
    margin-right: 0;
    margin-bottom: 10px;
    height: auto;
    width: 80%;}
  .FearlessTVimg, .SpeakNowTVimg, .RedTVimg, ._1989TVimg, .TTPDimg {
    width: 80%;
    height: 0;
    padding-bottom: 80%;}
  }