html {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

header {
  background-color: rgb(38, 142, 64);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}

header h1, header h2, header h3 {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.Info .text h2 {
  margin-bottom: 5px;
}

.Info .text p {
  margin-top: 0;
}

.Eras {
  padding-top: 185px;
}

.Info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}


.album-cover {
  flex-shrink: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
}

.Info .text {
  display: flex;
  flex-direction: column;
}

.FearlessTVimg, .SpeakNowTVimg, .RedTVimg, ._1989TVimg, .TTPDimg{
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

h2 a.wikipediaLink {
  text-decoration: none !important;
}

.debutLink a.wikipediaLink {
  color: rgb(38, 142, 64) !important;
}

.fearlessLink a.wikipediaLink {
  color: rgb(221, 196, 119) !important;
}

.speakNowLink a.wikipediaLink {
  color: rgb(82,49,107) !important;
}

.redLink a.wikipediaLink {
  color: rgb(146, 12, 12) !important;
}

._1989Link a.wikipediaLink {
  color: rgb(189, 231, 249) !important;
}

.reputationLink a.wikipediaLink {
  color: rgb(0, 0, 0) !important;
}

.loverLink a.wikipediaLink {
  color: rgb(253, 192, 204) !important;
}

.folkloreLink a.wikipediaLink {
  color: rgb(204, 204, 204) !important;
}

.evermoreLink a.wikipediaLink {
  color: rgb(128, 66, 36) !important;
}

.midnightsLink a.wikipediaLink {
  color: rgb(39, 45, 80) !important;
}

.ttpdLink a.wikipediaLink {
  color: rgb(250, 250, 250) !important;
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
}

.FearlessTVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/8/86/Taylor_Swift_-_Fearless.png');
}

.FearlessTVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/5/5b/Fearless_%28Taylor%27s_Version%29_%282021_album_cover%29_by_Taylor_Swift.png');
}

.SpeakNowTVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/8/8f/Taylor_Swift_-_Speak_Now_cover.png');
}

.SpeakNowTVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/5/5b/Taylor_Swift_-_Speak_Now_%28Taylor%27s_Version%29.png');
}

.RedTVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/e/e8/Taylor_Swift_-_Red.png');
}

.RedTVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/4/47/Taylor_Swift_-_Red_%28Taylor%27s_Version%29.png');
}

._1989TVimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/f/f6/Taylor_Swift_-_1989.png');
}

._1989TVimg:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/d/d5/Taylor_Swift_-_1989_%28Taylor%27s_Version%29.png');
}

.TTPDimg {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/6/6e/Taylor_Swift_%E2%80%93_The_Tortured_Poets_Department_%28album_cover%29.png');
}

.TTPDimg:hover {
  background-image: url('https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa');
}

@media (max-width: 700px) and (min-width: 500px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;;
  }
  .Info {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;;
  }
  .Info {
    gap: 5px;
  }
}